@import '../../../common/styles/utils/_colors.util.sass'

.initial-component
  .result-box
    display: flex
    align-items: center
    justify-content: center
    height: 8rem
  h2.counter-number
    text-align: center
  span.loading
    width: 4rem
    height: 4rem
    display: flex
    align-items: center
    justify-content: center
    margin-bottom: 1rem
    background: url('../../../../public/assets/images/loading.gif') center/cover
  section.controllers
    padding: 0.1rem
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: wrap
    button
      padding: 0.2rem 0.7rem
      background: #ddd
      border: 2px solid #ccc
      border-radius: 6px
      margin: 0.1rem
      display: flex
      align-items: center
      justify-content: center
      text-transform: uppercase
      height: 2.5rem
      &.basic-controllers
        justify-content: space-around
        button
          font-size: 18px
      &.additional-controllers
        justify-content: space-around
