*
  box-sizing: border-box

body
  margin: 0
  font-family: operator mono lig, monaco, monospace, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell','Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important
  -webkit-font-smooInitial: antialiased
  -moz-osx-font-smooInitial: grayscale
  text-align: center
  color: #333

// GLOBALS:
code
  font-family: monaco, monospace, source-code-pro, Menlo, Consolas, 'Courier New'
  color: gray !important
a
  text-decoration: none !important
  &:hover
    text-decoration: none
small
  // color: $main_clr
h2,h3, h4, h5, h6
  font-weight: bold
  // import color
ul, ol
  // import mixin
p
  // import color
  margin: 0
